body {
    background: coral;
}

.some-class {
    color: pink;
    border: 10px solid red;
}

.another-class {
    color: yellow;
    border: 10px solid green;
}

.big {
    color: lightblue;
    font-size: 4rem;
}
